main{
    width: 940px;
    margin: 0 auto;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.07);
}

table{
    margin: 20px 0 40px;    
}

thead{
    background: #555555;
    color: white;
    font-weight: bolder;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) {
    .caixa{
        width: auto;
    }

    main{
        width: auto;
    }

    form, .enviar{
        width: auto;
        padding: 5%;
    }

    table{
        margin: auto auto 15%;
    }

    nav{
        position: static;
    }
}